.help-container,
.tools-box,
.policy-container {
    display: none;
}

.extern {
    display: flex;
}

@media(max-width:1024px) {
    .tools-container {
        display: none;
    }
}

@media (max-width: 900px) {
    .parent-container {
        height: calc(100vh - 92px)
    }
}