@media (max-width: 900px) {
    body {
        flex-direction: column-reverse;
    }

    .login-headline {
        height: 60px;
        font-size: 48px;
    }

    .blue-seperator {
        width: 80px;
    }

    .main-container {
        width: 310px;
        margin-top: 100px;
    }

    .data-container {
        width: 310px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .email-input {
        width: 250px;
        background-position: 250px;
    }

    .password-input {
        width: 250px;
        background-position: 250px;
    }

    .remember-container {
        padding-left: unset;
        margin-bottom: unset;
        padding-right: 130px;
    }

    .login-buttons-container {
        flex-direction: column;
        gap: 21px;
        padding-left: unset;
    }

    .login-button {
        width: 140px;
    }

    .main-container-signup {
        width: 310px;
    }

    .arrow-left-line {
        right: 130px;
        top: 120px;
    }

    .signup-headline {
        height: 60px;
        font-size: 48px;
    }
}

@media (max-width: 600px) {
    .not-user-container {
        position: unset;
    }

    .legal-container {
        margin-bottom: 14px;
    }

    .main-container-signup {
        margin-top: 80px;
    }

    .arrow-left-line {
        right: 130px;
        top: 160px;
    }

    .intro-img {
        animation: moveUpResponsiveBlue ease-in-out 1500ms;
        animation-fill-mode: forwards;
    }

    .intro-img-responsive {
        animation: moveUpResponsiveWhite ease-in-out 1500ms;
        animation-fill-mode: forwards;
        display: unset;
    }

    .background-animation {
        animation: backgroundAnimationResponsive ease-in-out 2000ms;
        animation-fill-mode: forwards;
        background-color: #2A3647;
        height: 100vh;
    }

    .main-container-signup {
        margin-top: 50px;
    }

    .join-icon-signup {
        top: 20px;
        left: 20px;
    }
}