body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(246,247,249);
    display: flex;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

.content-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100vh;
}

.parent-container {
    background-color: #F6F7F8;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container-task {
    width: 75%;
    height: 80%;
}

.aot-task-container {
    width: 100%;
}

.aot-task {
    margin-left: 24px;
}

.main-container-task-one-two {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-end-proces-container {
    width: 92.5%;
    height: 10%;
    margin-top: 40px;
    margin-left: 32px;
    margin-right: 32px;
}

.add-task-set-up-one-container {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seperate-container {
    height: 100%;
    width: 3%;
}

.add-task-set-up-two-container{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0px;
    font-size: 48px;
}

.add-task-set-up-one {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.task-input-field {
    width: 90%;
    padding: 12px 8px 8px 12px;
    border-radius: 10px;
    border: 1px solid  rgb(209,209,209);
}

.seperate-add-task {
    width: 1px;
    height: 100%;
    display: flex;
    margin-left: 50%;
    background-color: rgb(209,209,209);
}

.add-task-set-up-two {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.button-prio-width {
    width: 100%;
}

.button-prio {
    background-color: white;
    padding: 10px 15px 10px 15px;
    width: 31%;
    border: 1px solid  rgb(209,209,209);
    border-radius: 10px;
    cursor: pointer;
}

.prio-photos {
    width: 16px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-txt-img {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 20px;
}

.button-end-proces {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-blue-button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.color-white-button {
    background-color: white;
    color: black;
    border: 1px solid  rgb(209,209,209);
    padding: 8px 8px 8px 8px;
    cursor: pointer;
    border-radius: 10px;
}

.color-blue-button {
    background-color: rgb(42,54,71);
    color: white;
    border: 1px solid  rgb(209,209,209);
    padding: 8px 8px 8px 8px;
    cursor: pointer;
    border-radius: 10px; 
}

.color-white-button:hover {
    border-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.check-svg {
    width: 16px;
}

.close-svg {
    width: 12px;
}

.span-margin {
    margin: 8px 0px 8px 0px;
}

.bubble-setup {
    display: flex;
}

/*DropDown*/
.drop-down {
    position: relative;
}

.drop-down * {
    box-sizing: border-box;
}

.select {
    background-color: rgb(255, 255, 255);
    width: 95%;
    padding: 10px 8px 8px 10px;
    border-radius: 10px;
    border: 1px solid rgb(209,209,209);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caret {
    width: 0;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid rgb(0, 0, 0);
}

.createRotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    border: 1px solid rgb(209,209,209);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 2.43em;
    width: 95%;
    background-color: rgb(255, 255, 255);
    display: none;
    transition: 0.5s;
    z-index: 1;
    overflow-y: auto;
    max-height: 80px; 
}

.selectClicked {
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2)
}

.menu li {
    cursor: pointer;
}

.menu li:hover {
    background-color: rgba(0, 0, 0, 0.021);
}

.active {
    background: rgba(235, 234, 234, 0.87);
}

.menuOpen {
    display: block;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 4px;
    border-radius: 4px;
}


::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background: rgb(168, 168, 168);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: (168, 168, 168);
    border-radius: 4px;
}

/* Subtask */
.input-with-img {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid  rgb(209,209,209);
    display: flex;
    align-items: center;
    width: 94%;
}

.task-input-with-img {
    width: 96%;
    padding: 10px 8px 8px 10px;
    border-radius: 10px;
    border-width: 0px 0px 0px 0px;
}

.input-field-svg {
    position: absolute;
    margin-left: 24%;
}

.check-cross-position {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 21%;
    display: none;
}

.subtaskButtons {
    cursor: pointer;
}

.button-transparacy {
    background-color: transparent;
    border: transparent;
}

/*JavaScript*/
.name-inicial {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.contact-boarder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle-inicial {
    width: 30px;
    height: 30px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicial-style {
    color: white;
    font-size: 12px;
}

.inicial-centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-box-style {
    background-color: white;
}

.chek-box-custom {

}

.bubble-initial {
    width: 30px;
    height: 30px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1200px) {
    .button-txt-img {
        font-size: 10px;
    }
    .select {
        width: 97%;
    }
}

@media(max-width: 900px) {
    .input-field-svg {
        margin-left: 28%;
    }
}

@media(max-width: 700px) {
    .content-container  {
        height: 200%;
    }
    .main-container-task {
        height: 100%;
    }
    .aot-task-container {
        background-color: rgb(246,247,249);
        position: fixed;
        display: flex;
        align-items: center;
    }
    .main-container-task-one-two {
        display: flex;
        flex-direction: column;
        height: 80%;
    }
    .add-task-set-up-one-container {
        width: 90%;
    }
    .seperate-container {
        height: 0%;
        width: 0%;
    }
    .add-task-set-up-two-container {
        width: 90%;
    }
    .seperate-add-task {
        display: hidden;
    }
    .add-task-set-up {
        display: flex;
        flex-direction: column;
    }
    .input-field-svg {
        margin-left: 53%;
    }
    .span-margin {
        margin: 4px 0px 4px 0px;
    }
    .button-end-proces {
        background-color: rgb(246,247,249);
        position: fixed;
        width: 90%;
        flex-direction: column;
        padding-bottom: 64pxpx;
        margin-bottom: 18px;
    }
    .button-end-proces-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .color-white-button {
        display: none;
    }
    .select {
        width: 96%;
    }
    .aot-task {
        width: 100%;
        font-size: 40px;
        margin-left: 32px;
    }
    .input-field-svg {
        margin-left: 52%;
    }

}


/* responsive */
@media (max-width: 1150px) {
    .summary-headline {
        padding-left: 100px;
    }

    .todos-container {
        width: 75%;
    }

    .greeting-container {
        width: 25%;
    }

    .greeting {
        font-size: 28px;
    }

    .user-name {
        font-size: 38px;
    }

    .fat-Contacts-headline {
        font-size: 28px;
    }

}


@media (max-width: 900px) {
    body {
        flex-direction: column-reverse;
    }

    .content-container {
        height: 180vh;
        width: 100vw;
    }

    .parent-container {
        width: 100vw;
        height: 100%;
        height: 100%;
    }

    .summary-headline {
        padding-left: unset;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-left: 10px;
        height: 20%;
        font-size: 18px;
        gap: 8px;
    }

    .greeting-and-todos-container {
        height: 80%;
        align-items: flex-start;
    }

    .greeting-container {
        display: none;
    }

    .seperator-and-text-container {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 12px;
    }

    .help-icon {
        display: none;
    }

    .join-360 {
        font-size: 38px;
    }

    .vertical-seperator {
        width: 60px;
        height: 0;
    }

    .todos-container {
        width: 100%;
        gap: 12px;
    }

    .todo {
        height: 120px;
        width: 200px;
    }

    .urgent-todo-container {
        height: 120px;
    }

    .todo-in-progress {
        width: 120px;
        height: 120px;
    }

    .contact-headline {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    /* CSS Nicole ////////////////////////// */
    .help_legal_privacy {
        padding-left: 16px;
    }

    .help_legal_privacy-headline {
        margin: 48px 0 32px 0;
    }

    /* //////////////////////////////////// */
}

@media (max-width: 600px) {
    .contact-headline {
        display: none;
    }

    .add-contact-box {
        width: 100vw;
    }

    .scroll {
        width: 100vw;
    }

    .contact-data {
        padding-left: 25%;
        gap: 18px;
    }

    .contacts-name {
        font-size: 16px;
    }

    .contact-email {
        font-size: 12px;
    }

    .shorts-name {
        height: 32px;
        width: 32px;
    }
}

@media (max-width: 550px) {
    .todos-box {
        width: 310px;
        gap: 24px;
        gap: 24px;
    }

    .urgent-todo-container {
        width: 310px;
        padding: 24px;
        gap: 20px;
        gap: 20px;
    }

    .undone-todos-container {
        width: 310px;
        gap: 8px;
    }

    .todo-in-progress {
        font-size: 16px;
    }

    .small-icon {
        width: 40px;
        height: 40px;
        width: 40px;
        height: 40px;
    }

    .todos-number-container {
        font-size: 47px;
    }

    .todos-text-container {
        font-size: 14px;
    }

    .date-container {
        font-size: 16px;
        font-size: 47px;
    }

    .todos-text-container {
        font-size: 14px;
    }

    .date-container {
        font-size: 16px;
    }

    /* CSS Nicole //////////////////// */

    .guide-container {
        width: 100%;
    }

    .text-help {
        width: 100%;
    }

    /* ////////////////////////////// */

    /* CSS Nicole //////////////////// */

    .guide-container {
        width: 100%;
    }

    .text-help {
        width: 100%;
    }

    /* ////////////////////////////// */

}