body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(246,247,249);
    display: flex;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

.content-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100vh;
}

.parent-container {
    background-color: #F6F7F8;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container-task {
    width: 75%;
    height: 80%;
}

.aot-task-container {
    width: 100%;
    height: 15%;
}

.main-container-task-one-two {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-end-proces-container {
    width: 100%;
    height: 10%;
}

.add-task-set-up-one-container {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seperate-container {
    height: 100%;
    width: 3%;
}

.add-task-set-up-two-container{
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0px;
    font-size: 48px;
}

.add-task-set-up-one {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.task-input-field {
    width: 90%;
    padding: 12px 8px 8px 12px;
    border-radius: 10px;
    border: 1px solid  rgb(209,209,209);
}

.seperate-add-task {
    width: 1px;
    height: 100%;
    display: flex;
    margin-left: 50%;
    background-color: rgb(209,209,209);
}

.add-task-set-up-two {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.button-prio-width {
    width: 100%;
}

.button-prio {
    background-color: white;
    padding: 10px 15px 10px 15px;
    width: 31%;
    border: 1px solid  rgb(209,209,209);
    border-radius: 10px;
    cursor: pointer;
}

.prio-photos {
    width: 16px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-txt-img {
    display: flex;
    align-items: center;
    gap: 3px;
}

.button-end-proces {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-blue-button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.color-white-button {
    background-color: white;
    color: black;
    border: 1px solid  rgb(209,209,209);
    padding: 12px 20px;;
    cursor: pointer;
    border-radius: 10px;
}

.color-blue-button {
    background-color: rgb(42,54,71);
    color: white;
    border: 1px solid  rgb(209,209,209);
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 10px; 
}

.color-white-button:hover {
    border-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.check-svg {
    width: 16px;
}

.close-svg {
    width: 12px;
}

.span-margin {
    margin: 8px 0px 8px 0px;
}

/*DropDown*/
.drop-down {
    position: relative;
}

.drop-down * {
    box-sizing: border-box;
}

.select {
    background-color: rgb(255, 255, 255);
    width: 95%;
    padding: 10px 8px 8px 10px;
    border-radius: 10px;
    border: 1px solid rgb(209,209,209);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caret {
    width: 0;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid rgb(0, 0, 0);
}

.createRotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    border: 1px solid rgb(209,209,209);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 2.43em;
    width: 95%;
    background-color: rgb(255, 255, 255);
    display: none;
    transition: 0.5s;
    z-index: 1;
}

.selectClicked {
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2)
}

.menu li {
    cursor: pointer;
}

.menu li:hover {
    background-color: rgba(0, 0, 0, 0.021);
}

.active {
    background: rgba(235, 234, 234, 0.87);
}

.menuOpen {
    display: block;
    opacity: 1;
}

/* Subtask */
.input-with-img {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid  rgb(209,209,209);
    display: flex;
    align-items: center;
    width: 95%;
}

.task-input-with-img {
    width: 95%;
    padding: 10px 8px 8px 10px;
    border-radius: 10px;
    border-width: 0px 0px 0px 0px;
}

.input-field-svg {
    position: absolute;
    margin-left: 24%;
}

@media(max-width: 900px) {
    .input-field-svg {
        margin-left: 28%;
    }
}

@media(max-width: 700px) {
    .content-container  {
        height: 200%;
    }
    .main-container-task {
        height: 100%;
    }
    .aot-task-container {
        height: 10%;
    }
    .main-container-task-one-two {
        display: flex;
        flex-direction: column;
        height: 80%;
    }
    .add-task-set-up-one-container {
        width: 90%;
    }
    .seperate-container {
        height: 0%;
        width: 0%;
    }
    .add-task-set-up-two-container {
        width: 90%;
    }
    .seperate-add-task {
        display: none;
    }
    .add-task-set-up {
        display: flex;
        flex-direction: column;
    }
    .input-field-svg {
        margin-left: 53%;
    }
    .span-margin {
        margin: 4px 0px 4px 0px;
    }
    .button-end-proces {
        background-color: rgb(246,247,249);
        position: fixed;
        width: 90%;
        flex-direction: column;
        padding-bottom: 4px;
        margin-bottom: 18px;
    }
    .button-end-proces-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .color-white-button {
        display: none;
    }
}