@media (max-width: 1024px) {
    .parent-container {
        width: 100vw;
    }

    .button-end-process-container {
        margin-bottom: 10%;
    }
}

@media (max-width: 800px) {
    .seperate-container {
        display: none;
    }

    .header-container {
        z-index: 999;
        position: fixed;
        top: 0;
    }

    .aot-task-container {
        margin-top: unset;
        width: 90%;
        top: 0;
        background-color: #F6F7F8;
    }

    .main-container-task-one-two {
        margin-bottom: unset;
        margin-top: unset;
        align-items: center;
        width: 100vw;
        flex-direction: column;
        justify-content: flex-start;
        height: unset;
        overflow-x: scroll;
    }

    .add-task-set-up-one-container {
        width: 90%;
    }

    .add-task-set-up-two-container {
        width: 90%;
    }

    .button-end-process-container {
        position: sticky;
        bottom: 10%;
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
        background-color: #F6F7F8;
        margin-bottom: unset;
    }
}

@media (max-width: 800px) {
    .main-container-task {
        height: 84vh;
        justify-content: space-between;
    }

    .add-task-set-up-two-container {
        position: relative;
        bottom: 16px;
    }

    .clear-button {
        display: none;
    }
}