@media (max-width: 900px) {
    body {
        flex-direction: column-reverse;
    }

    .content-container {
        height: 90%;
        height: 90%;
        width: 100vw;
    }

    .contact-headline {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        font-size: 20px;
    }

    .parent-container {
        height: calc(100vh - 160px);
    }

    /* CSS Nicole ////////////////////////// */
    .help_legal_privacy {
        padding-left: 16px;
    }

    .help_legal_privacy-headline {
        margin: 48px 0 32px 0;
    }

    /* //////////////////////////////////// */
}


@media (max-width: 600px) {

    .contact-headline {
        display: none;
    }

    .scroll {
        width: -webkit-fill-available;
    }

    .contact-data {
        gap: 18px;
    }

    .contacts-name {
        font-size: 16px;
    }

    .contact-email {
        font-size: 12px;
    }

    .shorts-name {
        height: 42px;
        width: 42px;
    }
}

@media (max-width: 550px) {


    /* CSS Nicole //////////////////// */

    .guide-container {
        width: 100%;
    }

    .text-help {
        width: 100%;
    }

    /* ////////////////////////////// */

    /* CSS Nicole //////////////////// */

    .guide-container {
        width: 100%;
    }

    .text-help {
        width: 100%;
    }

    /* ////////////////////////////// */

}