@media (max-width: 1024px) {
    .parent-container {
        width: 100vw;
    }

    .button-end-process-container {
        margin-bottom: 10%;
    }
}

@media (max-width: 900px) {
    .main-container-task-one-two {
        margin-bottom: unset;
        margin-top: unset;
        align-items: flex-start;
        width: unset;
        flex-direction: column;
        justify-content: flex-start;
        height: unset;
        overflow-x: scroll;
        padding: 0 16px;
    }

    .button-end-process-container {
        position: sticky;
        bottom: 10%;
        padding-left: 12px;
        padding-right: 12px;
        background-color: #F6F7F8;
        margin: unset;
    }

    .add-task-set-up-one-container,
    .add-task-set-up-two-container {
        width: 100%;
    }

    .aot-task-container {
        margin: 24px 16px 0;
        width: unset;
    }

    .seperate-container {
        display: none;
    }

    .clear-button {
        display: none;
    }
}

/* @media (max-width: 800px) {
    .header-container {
        z-index: 999;
        position: fixed;
        top: 0;
    }
}

@media (max-width: 800px) {
    .add-task-set-up-two-container {
        position: relative;
        bottom: 16px;
    }
} */