body {
    margin: 0;
    font-family: "Inter", sans-serif;
    display: flex;
}


.tools-container {
    width: 15vw;
    height: 100vh;
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: white;
}


.join-icon {
    width: 65px;
    height: 80px;
}


.menu-tool-container {
    height: 46px;
    display: flex;
    gap: 15px;
    
}


.menu-img {
    width: 25px;
    height: 25px;
}


.header-container {
    width: 85vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tasks-container {
    background-color: #F6F7F8;
    height: 89vh ;
}