body {
    margin: 0;
    font-family: "Inter", sans-serif;
}


.main-content {
    display: flex;
}


.content-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100vh;
}


.parent-container {
    background-color: #F6F7F8;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.summary-headline {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 220px;
    gap: 30px;
    width: 100%;
    height: 100px;
    font-size: 27px;
}


.join-360 {
    font-weight: 700;
    font-size: 60px;
}


.seperator-and-text-container {
    display: flex;
    align-items: center;
    gap: 30px;
}


.vertical-seperator {
    height: 60px;
    width: 0px;
    border: 2px solid #29ABE2;
    border-radius: 8px;
}


.greeting-and-todos-container {
    width: 100%;
    display: flex;
    align-items: center;
}


.todos-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    box-sizing: border-box;
}


.todo {
    width: 240px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 34px;
    font-size: 20px;
    background-color: #FFFFFF;
}

.todos-box {
    display: flex;
    justify-content: space-between;
    width: 540px;
}

.todo:hover {
    background-color: #2A3647;
    color: white;
}


.todos-number-container {
    font-weight: 600;
    font-size: 64px;
}


.urgent-todo-container {
    box-sizing: border-box;
    background-color: #FFFFFF;
    width: 540px;
    height: 140px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}


.urgent-todo-container:hover {
    background-color: #2A3647;
    color: white;
}


.urgent-box {
    display: flex;
    align-items: center;
    gap: 18px;
}


.grey-seperator {
    border: 2px solid #D1D1D1;
    width: 0px;
    height: 100px;
}


.deadline-reminder-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.date-container {
    font-size: 21px;
    font-weight: 700;
}


.undone-todos-container {
    width: 540px;
    display: flex;
    justify-content: space-between;
}


.todo-in-progress {
    padding: 8px;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 34px;
    font-size: 20px;
    background-color: #FFFFFF;
}


.todo-in-progress:hover {
    background-color: #2A3647;
    color: white;
}


.greeting-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.greeting {
    font-size: 47px;
    font-weight: 500;
}


.user-name {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
}