<img href="index.html" class="join-icon" src="./img/Capa 3.png">
<div class="tools-box">
    <div class="menu-tools-container">
        <a id="summary" href="summary.html" class="menu-tool">
            <img class="menu-img" src="./img/Vector.png">
            <div>Summary</div>
        </a>
        <a id="addTask" href="addTask.html" class="menu-tool">
            <img class="menu-img" src="./img/edit_square.png">
            <div>Add Tasks</div>
        </a>
        <a id="board" href="board.html" class="menu-tool">
            <img class="menu-img" src="./img/board.png">
            <div>Board</div>
        </a>
        <a id="contact" href="contacts.html" class="menu-tool">
            <img class="menu-img" src="./img/perm_contact_calendar.png">
            <div>Contacts</div>
        </a>
    </div>
</div>
<div class="policy-container">
    <div class="policy-box">
        <a id="legalNotice" href="legalNotice.html" class="menu-tool-bottom">
            <div>Legal notice</div>
        </a>
        <a id="privacyPolicy" href="privacyPolicy.html" class="menu-tool-bottom">
            <div>Privacy policy</div>
        </a>
    </div>
</div>
<div class="policy-container extern d-none">
    <div class="policy-box">
        <a id="privacyPolicyExtern" href="legalNoticeExtern.html" class="menu-tool-bottom">
            <div>Legal notice</div></a>
        <a id="privacyPolicyExtern" href="privacyPolicyExtern.html" class="menu-tool-bottom">
            <div>Privacy policy</div></a>
    </div>
</div>
