<img href="login.html" class="join-icon" src="./img/Capa 3.png">
<div class="tools-box">
    <div class="menu-tools-container">
        <a href="summary.html" class="menu-tool">
            <img class="menu-img" src="./img/Vector.png">
            <div>Summary</div>
        </a>
        <a href="addTask.html" class="menu-tool">
            <img class="menu-img" src="./img/edit_square.png">
            <div>Add Tasks</div>
        </a>
        <a href="board.html" class="menu-tool">
            <img class="menu-img" src="./img/board.png">
            <div>Board</div>
        </a>
        <a href="contacts.html" class="menu-tool">
            <img class="menu-img" src="./img/perm_contact_calendar.png">
            <div>Contacts</div>
        </a>
    </div>
</div>
<div class="policy-container">
    <div class="policy-box">
        <a href="legalNotice.html" style=" line-height: 20px;">Legal notice</a>
        <a href="privacyPolicy.html" style=" line-height: 20px;">Privacy policy</a>
    </div>
</div>