<img class="join-icon" src="./img/Capa 3.png">
<div  class="menu-tools-container">
    <div class="menu-tool">
        <img class="menu-img" src="./img/Vector.png">
        <div>Summary</div>
    </div>
    <div class="menu-tool">
        <img class="menu-img" src="./img/edit_square.png">
        <div>Add Task</div>
    </div>
    <div class="menu-tool">
        <img class="menu-img" src="./img/board.png">
        <div>Board</div>
    </div>
    <div class="menu-tool">
        <img class="menu-img" src="./img/perm_contact_calendar.png">
        <div>Contacts</div>
    </div>
</div>
<div class="policy-container">
    <a style=" line-height: 20px;">Privacy policy</a>
    <a style=" line-height: 20px;">Legal notice</a>
</div>