<img class="hide show" src="./img/Capa 2.png">
<div class="kanban-header">
    Kanban Project Management Tool
</div>
<div class="help-container">
    <img class="help-icon" src="./img/help.png">
    <div onclick="toggleMenu()" id="userInitialsRoundContainer" class="user-initials-container"></div>
</div>
<div id="menu" class="log-out-container d-none">
    <a>Legal Notice</a>
    <a>Privacy Policy</a>
    <a onclick="logOut()">Log Out</a>
</div>
<script>
    function showLoggedUserInitials() {
    let data = localStorage.getItem('data');
    let dataAsText = JSON.parse(data);
    let name = dataAsText.name
    let spaceIndex = name.indexOf(' ');
    let firstLetterOfName = name.charAt(0);
    let firstLetterOfLastName = name.charAt(spaceIndex + 1);
    let roundContainer = document.getElementById('userInitialsRoundContainer');
    roundContainer.value = `
${firstLetterOfName}${firstLetterOfLastName}
`;
}

function toggleMenu() {
    document.getElementById('menu').classList.toggle('d-none');
}
</script>
