<img class="hide show" src="./img/Capa 2.png">
<div class="kanban-header">
    Kanban Project Management Tool
</div>
<div class="help-container">
    <a href="help.html">
        <img class="help-icon" src="./img/help.png">
    </a>
    <div onclick="toggleMenu()" id="userInitialsRoundContainer" class="user-initials-container"></div>
</div>
<div id="menu" class="log-out-container d-none">
    <a href="help.html">Help</a>
    <a href="legal_notice.html">Legal Notice</a>
    <a href="privacy_policy.html">Privacy Policy</a>
    <a onclick="logOut()">Log Out</a>
</div>